<h1>Main Creature AI</h1>

<%= form_for :stats do |f| %>
  <h1>HP: <%= f.text_field :hp %> </h1>
  <h1>AC: <%= f.select :ac,  [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30] %></h1>
  <h1>STR: <%= f.select :str, [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30] %></h1>
  <h1>DEX: <%= f.select :dex, [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30] %></h1>
  <h1>CON: <%= f.select :con, [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30] %></h1>
  <h1>INT: <%= f.select :int, [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30] %></h1>
  <h1>WIS: <%= f.select :wis, [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30] %></h1>
  <h1>CHA: <%= f.select :cha, [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30] %></h1>

  <h1>Highest Damage (i.e d6 + 4 = 10): <%= f.text_field :damage %> </h1>

  <h1><%= f.submit%></h1>
<% end %>
